[alias]
  st = status
[core]
  excludesfile = ~/.gitignore
  editor = vim
[user]
  email = jj@geewax.org
  name = JJ Geewax
[color]
  ui = true
[push]
  default = simple
[commit]
  template = ~/.git_commit_msg.txt
